html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
===================================
Grid
===================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container, 
.grid {
	margin: 0 auto;
	min-width: 960px;
}

.container {
	padding-left: 30px;
	padding-right: 30px;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
 
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
  width: 65.66%
}

.grid,
.col-1-3,
.col-2-3 {
	padding-left: 15px;
	padding-right: 15px;
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  background:#fff;
  min-width: 960px;
  margin: 0;
  padding: 66px 0 44px 0;
  
  
}

/*
===================================
Typography
===================================
*/

h1, h2, h3, h4 {
  color: #648880;
}

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
.primary-header{
  background: #fff;
  min-width: 0;
  margin: 0;
    
}

.primary-header a,
.primary-footer a {
  color: #fff;

}

.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}


/*
===================================
Buttons
===================================
*/

.btn {
	border-radius: 5px;
	display: inline-block;
  margin: 0;
  color: #fff;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
	padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.btn-pur {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-pur:hover {
  background: #77a198;
}

/*
===================================
Primary Header
===================================
*/

.logo {
	border-top: 4px solid #648880;
	padding: 40px 0 22px 0;
  font-size: 48px;
  line-height: 44px;
	float:left;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: rgb(241, 57, 57);
  
}

/*
===================================
Primary Footer
===================================
*/

.primary-footer small {
	float: left;
  font-weight: 400;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
	padding-bottom: 44px;
	padding-top: 44px;
}
.primary-footer img{
  display: inline;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

/*
===================================
Home
===================================
*/


.horizontal li{
  display: inline;
  padding: 50px;}

.intro {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.intro h2 {
  font-size: 36px;
}
.intro p {
  font-size: 24px;
}


.teaser a:hover h3 {
  color: #a9b2b9;
}

form {
  margin-bottom: 22px;
}

input,
select,
textarea {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  font-weight: 400;
}

.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 70%;
}
.register-group select {
  height: 34px;
  width: 70%;
}
.register-group textarea {
  height: 78px;
}

.merits {
  list-style: square;
  margin: 0 0 22px 30px;
}

.box{
  box-shadow: 5px 5px 10px #999;
  padding: 50px;
  display: block;
  margin: 30px;
  }

.icon-bar{
     position: absolute;
     width: 0 auto;
}
.intro-box{
 min-width: 960px;
 min-height: 0 auto;
 margin: 0;
 padding: 0;
}


